.rate-widget--like-dislike  {
    display: flex;
}
.rate-widget--like-dislike input[type="number"] {
    display: block;
    height: 32px;
    line-height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}
.rate-widget--like-dislike input[type="number"]::-webkit-outer-spin-button,
.rate-widget--like-dislike input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.rate-widget--like-dislike button{
    width: 1rem;
    font-size: 16px;
    font-weight: 600;
}

.rate-widget--like-dislike .number-minus {

    padding: 0;
    display: block;
    text-align: center;
    border: none;
    border-right: 1px solid #ddd;

}
.rate-widget--like-dislike .number-plus {
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    border-left: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
}
