.page__content {
  display: flex;
  padding: 0 1rem;
}

.js td .dropbutton-widget {
  position: relative;
}

.page--front {
  .page__header {
    .container {
      justify-content: flex-end;
    }
  }
}

.page__header {
  .container {
    display: flex;
    justify-content: space-between;

    .block--radix-sub-breadcrumbs {
      width: 50%;
    }

    .navbar-bottom {
      display: flex;

      overflow: visible;

    }

  }
}


.block--socialauthlogin {
  display: flex;

  .social-auth {
    display: block;
    border-radius: 2rem;
  }
}

.sidebar {
  .nav {
    display: block;
  }
}

a.is-active {
  color: $link-active-color;
}

.sidebar.sidebar-left {
  width: 25%;
}

.entity-browser-form {
  .views-row {
    display: flex;
  }

  .form-check-input {
    position: relative;
  }
}

.block--radix-sub-local-actions {
  display: flex;

  .menu-item {
    margin-right: 1rem;
  }
}
.collapsiblock{
  a{
    display:flex;
    color: #99F;
  }
}
.group-page {
  .sidebar {
    width: 15rem;

    .block {
      .icon{
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        margin-right: .4rem;
        line-height: 1.6rem;
      }
      .icon:before {
        content: "\f146";
      }

      .collapsiblock,.collapsiblockCollapsed{
        background: none;
      }

      .collapsiblockCollapsed{
        .icon:before {
          content: "\f0fe";
        } 
      }


      h2 {

        font-size: 1.2rem;
        color: #999;
      }
    }
  }

}
