label{
  font-weight: 400;
}


.form-actions {
  display: flex;
  justify-content: flex-end;

  .button {
    height: fit-content;
    margin-right: 1rem;
  }
}

.button-default, .btn-default {
  border: 1px solid #ddd;
}

.views-exposed-form {
  .form-content {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #dedede;

    .form-actions {
      align-items: center;
    }
  }
}

.form-required:after {
  content: '*';
  color: #f00;
  padding: .2rem;
}
