
.form-actions {
  display: flex;
  justify-content: flex-end;

  .button {
    height: fit-content;
  }
}


.views-exposed-form {
  .form-content {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #dedede;

    .form-actions {
      align-items: center;
    }
  }
}

