.page{
  height: 100vh;
  display: flex;
  flex-direction: column;

  .block--radix-sub-main-menu {
    width: inherit;
  }
  .block--radix-sub-account-menu{
    flex: none;
  }
  
  footer{
    margin-top:auto;
  }
}

