{#
/**
 * @file
 * Template for a Node.
 */
#}
{% extends '@radix_sub/node/node.twig' %}

{% block content %}

        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>


    {% if display_submitted %}
        <footer>
            {{ author_picture }}
            <div{{ author_attributes }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}

    <div{{ content_attributes }}>
        {{ content }}
    </div>
{% endblock %}
