
.responsive-menu-block-wrapper {
  display: none;
}


@media (min-width: map-get($grid-breakpoints, 'md')) {
  .container {
    max-width: map-get($grid-breakpoints, 'lg');
  }
  .responsive-menu-toggle-wrapper {
    display: none;
  }
  .responsive-menu-block-wrapper {
    display: block;
  }
}

body.user-logged-in.toolbar-fixed {
  .mm-wrapper_opening,
  .mm-wrapper_opened {
    padding-top: 0 !important;
  }
}

.mm-page,
.mm-wrapper_background body {
  //background-color: #ffffff;
}

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical {
  margin-left: 0;
}

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page,
.mm-opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical .mm-page {
  padding-left: 15rem;
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  .horizontal-menu {
   & > li & > a {
      padding-right: 1em;
      padding-left: 1em;
    }
  }
}

.horizontal-menu {
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
  width: 100%;

  .sub-nav{
    background: rgb(52, 58, 64);
    border: 1px solid rgb(153, 153, 153);
  }
  
  & > li {
    display: inline-block;
    position: relative;

    ul ul {
      left: 13.75em;
      top: 0;
    }

    & > a {
      display: block;
      color: $navbar-dark-color;
      padding-top: 0.3em;
      padding-right: .5em;
      padding-bottom: 0.35em;
      padding-left: .5em;
      background-color: transparent;
    }

    ul {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      z-index: 99;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      box-sizing: border-box;
      width: 13.75em;
      list-style: none;

      .fly-left ul {
        left: -13.75em;
      }
    }

    li > a {
      display: block;
      position: relative;
      padding-top: 0.5em;
      padding-right: 1em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      text-transform: none;
      &:hover{
        color: rgb(255, 255, 255);
        background-color: rgb(73, 78, 83);
      }
    }

    & > li:hover > ul,
    & > li.sfHover > ul {
      display: block;
    }

  }

  li li {
    position: relative;
    float: left;
    width: 100%;
  }
}


.off-canvas-wrapper {
  display: block;
}

.no-js .off-canvas-wrapper {
  display: none;
}

.responsive-menu-toggle {
  display: inline-block;
}

.responsive-menu-toggle-icon {
  box-sizing: border-box;
  display: block;
  width: 44px;
  height: 35px;
  z-index: 4;
  margin-top: 0;
  position: relative;
}

.no-js .responsive-menu-toggle-icon {
  display: none;
}

.responsive-menu-toggle-icon {
  span.label {
    display: block;
    position: absolute;
    font-size: 17px;
    text-transform: uppercase;
    top: 2px;
    left: 40px;
    color: #fff;
  }

  &:before,
  &:after,
  span.icon {
    background: #fff;
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 13px;
    border-radius: 2px;
  }

  &:before {
    top: 8px;
  }

  span.icon {
    top: 14px;
  }

  &:after {
    top: 20px;
  }

  &:before,
  &:after,
  span.icon {
    transition: none 0.4s ease-out 0.1s;
    transition-property: -webkit-transform, top, bottom, left, opacity;
    transition-property: transform, top, bottom, left, opacity;
  }

}


.mm-wrapper_opening {
  .responsive-menu-toggle-icon {
    &:before,
    &:after {
      top: 14px;
    }

    span.icon {
      left: -25px;
      opacity: 0;
    }

    &:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }


}


#mm-blocker {
  background: rgba(0, 0, 0, 0);
}

.mm-wrapper_opening #mm-blocker {
  background: rgba(0, 0, 0, 0.2);
  transition: background 1s ease 0.3s;
}

.mm-wrapper_opening #page {
  border-left: 1px solid #ccc;
}

.mm-panel a {
  border-bottom: none;
}

ul.menu.mm-listview a.is-active {
  color: inherit;
}

.mm-panel a:hover {
  border: none;
}

ul.menu.mm-listview {
  padding-left: 0;
  margin-left: 0;
}
