{#
/**
 * @file edms_dentry.html.twig
 * Default theme implementation to present Entry data.
 *
 * This template is used when viewing Entry pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_edms_dentry()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('edms_dentry') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
