{#
/**
 * @file
 * Template for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
    <h3 class="form-title">{{ 'Filter'|t }}</h3>
    <div class="form-content">
        {{ children }}
    </div>
</form>
